<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeeClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZeeClient.Properties.Settings>
            <setting name="ButtonA" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonB" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonC" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonD" serializeAs="String">
                <value />
            </setting>
            <setting name="JoyLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="JoyRight" serializeAs="String">
                <value />
            </setting>
            <setting name="JoyUp" serializeAs="String">
                <value />
            </setting>
            <setting name="JoyDown" serializeAs="String">
                <value />
            </setting>
            <setting name="DeadZone" serializeAs="String">
                <value>15</value>
            </setting>
        </ZeeClient.Properties.Settings>
    </userSettings>
</configuration>